* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.loader {
	display: flex !important;
	justify-content: center !important;
	align-items: center !important;
	height: 100vh;
}

.loader1 {
	margin-top: -25rem;
	font-weight: 700;
	text-align: center;
	font-size: 25px;
	font-family: cursive;
	font-weight: bold;
	text-transform: uppercase;
	background: linear-gradient(90deg, #000000, #c701f8, #000);
	letter-spacing: 5px;
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	background-repeat: no-repeat;
	background-size: 80%;
	animation: shine 5s linear infinite;
	position: relative;
}

@keyframes shine {
	0% {
		background-position-x: -250%;
	}
	100% {
		background-position-x: 500%;
	}
}
.load {
	background-color: black;
	height: 100vh;
}
