/* .podcast_section {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-direction: column;
	width: 100vw;
	height: 100vh;
	gap: 30px;
	margin-top: 100px;
	width: 40%;
	margin-left: 100px;
	position: relative;
	color: #fff;
} */
/* 
#background_video {
	position: absolute;
	right: 0;
	bottom: 0;
	width: 100vw;
	height: 90vh;
	min-width: 100%;
	min-height: 110%;
	z-index: -1;
} */

.podcastLandingSection {
	width: 100vw;
	height: 100vh;
	color: white;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

.sectionContent{
	height: auto;
	width: 80vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 2;
	gap: 320px;
}

.secondHeading{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 2;
	gap: 30px;
	margin-top: 50px;
}

.overlay {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.65);
	filter: blur(100px);
	z-index: -1;
}

#backgroundVideo {
	position: absolute;
	width: 100%;
	height: 100vh;
	object-fit: cover;
	z-index: -2;
	top: 0;
	left: 0;
}

.explore {
	height: auto;
	width: 80vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 2;
	gap: 220px;
}

.heading {
	font-size: 35px;
	font-weight: 600;
	text-align: center;
	margin-top: 50px;
}

.subheading {
	opacity:0.4;
	font-size: 20px;
	font-weight: 400;
	text-align: center;
	padding: 0px 80px 0px 80px;
}

.podcast_heading {
	font-size: 40px;
	text-align: center;
	margin-top: 50px;
	margin-bottom: 30px;
}

.podcast_card_container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin-bottom: 54px;
}

@media screen and (max-width: 768px) {
	.podcastLandingSection {
		height: 98vw;
	}

	#backgroundVideo {
		width: 100%;
		height: 100%;
	}

	.explore {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100vw;
		size: 20px;
		/* gap: 30px; */
		margin-left: 5vw;
		margin-right: 10vw;
	}
	.sectionContent {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100vw;
		gap: 65px;
		margin-left: 5vw;
		margin-right: 10vw;
	}

	.secondHeading{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		z-index: 2;
		gap: 5px;
		margin-top: 50px;
	}

	.heading {
		padding: 0px 20px 0px 40px ;
		font-size: 5vw;
		font-weight: 600;
		text-align: start;
		margin-bottom: 22px;
	}

	.subheading {
		font-size: 3vw;
		font-weight: 400;
		text-align: start;
		padding: 0px 40px 0px 60px;
	}
}
