.card {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: auto;
	height: 80px;
	/* background: #ff00d9; */
	margin: 10px 20px;
	border-radius: 12px;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
		rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
		rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
	padding: 0 8px;
}
.image {
	width: 40px;
}
.name {
	font-size: 16px;
	color: rgb(0, 0, 0);
	margin: 0 8px;
	white-space: nowrap;
}
