.highlights {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	/* Change width to auto if necessary */
	animation: marquee 25s linear 0s infinite;
}
.highlights:hover {
	animation-play-state: paused;
}
@keyframes marquee {
	0% {
		transform: translateX(140%);
	}
	100% {
		transform: translateX(-140%);
	}
}
