.info{
    /* position: relative; */
    height: auto;
    width: 90vw;
    background: #7541C8;
    border-radius: 20px;
    display: flex;
    color: #fff;
    padding: 60px;
    margin: 40px;
    /* margin-left: 20px;
    margin-right: 20px;
    margin-top: auto;
    margin-bottom: auto; */
}

.colOne{
    display: flex;
    flex-direction: column;
    /* width: 50%; */
    padding: 60px;
    justify-content: space-between;
    gap: 30px;
}

.findJob{
    all: unset;
    background: #262626;
    width: 150px;
/* height: 20px; */
display: inline-block;
padding: 17px 45px 20px;
border-radius: 30px;
cursor: pointer;
transition: all 0.8s;
display:inline-block;
font-weight: 700;
font-size: 1rem;
line-height: 32px;
}

.findJob:hover{
    box-shadow: 0 0 25px #2c1a4a;
    background-color: #fff;
    color: #7541C8;
}


.head{
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 50px;
}

.subHead{
    /* margin-top: 300px; */
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 27px;
letter-spacing: 0.02em;

}

