.cards {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-top: 20px;
}
.search_bar {
	all: unset;
	border: 2px solid black;
	color: black;
	padding: 20px 40px;
}
